*{
    background-color: #233142
}
.title{
   text-justify: center;
    text-align: center;
    margin: auto;
    padding: 10px;
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #e3e3e3;
}